img{width:50px;float:right}h1,img{margin-top:10px}h1{line-height:50px;border-bottom:1px solid #ddd}*{margin:0;padding:0}body,html{height:100%;min-width:1110px}#app{height:100%;font-family:Avenir,Helvetica,Arial,sans-serif}